<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="author" content="Drizvato" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<title>MyHouse - Property Group</title>

	<!-- Custom CSS -->
	<link href="assets/css/styles.css" rel="stylesheet">
	<link href="assets/css/colors.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/custom.css">
	<link rel="stylesheet" href="https://swiperjs.com/package/swiper-bundle.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css"
		integrity="sha512-3M00D/rn8n+2ZVXBO9Hib0GKNpkm8MSUU/e2VNthDyBYxKWG+BftNYYcuEjXlyrSO637tidzMBXfE7sQm0INUg=="
		crossorigin="anonymous" />
</head>

<body class="yellow-skin">
	<div class="preloader"></div>
	<div id="main-wrapper">

		<div class="header header-transparent light-text">
			<div class="container">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="#">
							<img src="assets/img/logo-brand1.png" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">

							<li><a href="#">Beranda</a></li>
							<li><a href="#">Tentang Kami</a></li>
							<li><a href="#">Listing</a></li>

							<li><a href="#">Beli<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu">
									<li><a href="#">Rumah</a></li>
									<li><a href="#">Apartement</a></li>
									<li><a href="#">Kantor</a></li>
									<li><a href="#">Tanah</a></li>
								</ul>
							</li>

							<li><a href="#">KPR</a></li>
							<li><a href="#">Kontak Kami</a></li>

						</ul>

					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>

		<div class="image-cover hero_banner half_banner" style="background:url(assets/img/jpeg/banner.png) no-repeat;"
			data-overlay="1">
			<div class="container my-4">

				<h2 class="text-center mb-0">Find Your Perfect Home</h2>
				<div class="mb-4 text-mlixer text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-9 col-md-10">

						<div class="full_search_box nexio_search lightanic_search hero_search-radius style-2">
							<div class="search_hero_wrapping">
								<div class="row">
									<div class="col-lg-2 col-md-4 col-sm-4 small-padd">
										<div class="form-group">
											<select class="form-control b-0 b-r" name="category">
												<option value="0">Dijual</option>
												<option value="1">Disewakan</option>
											</select>
										</div>
									</div>
									<div class="col-lg-8 col-md-5 col-sm-12 small-padd">
										<div class="form-group">
											<input type="text" class="form-control b-0"
												placeholder="Masukkan Kata Kunci">
										</div>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-12 small-padd">
										<div class="form-group">
											<a href="#" class="btn search-btn btn-dark">Cari</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>
		<section>
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-8">
						<div class="sec-heading center">
							<h2>Cari Keperluan anda</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="property_location">
							<div class="property_location_thumb">
								<a href="#"><img src="assets/img/homes/2.jpg" class="img-fluid rounded-lg" alt="" /></a>
							</div>
							<div class="property_location_caption">
								<div class="property_location__first">
									<h4>Rumah</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="property_location">
							<div class="property_location_thumb">
								<a href="#"><img src="assets/img/homes/2.jpg" class="img-fluid rounded-lg" alt="" /></a>
							</div>
							<div class="property_location_caption">
								<div class="property_location__first">
									<h4>Rumah</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="property_location">
							<div class="property_location_thumb">
								<a href="#"><img src="assets/img/homes/2.jpg" class="img-fluid rounded-lg" alt="" /></a>
							</div>
							<div class="property_location_caption">
								<div class="property_location__first">
									<h4>Rumah</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="property_location">
							<div class="property_location_thumb">
								<a href="#"><img src="assets/img/homes/2.jpg" class="img-fluid rounded-lg" alt="" /></a>
							</div>
							<div class="property_location_caption">
								<div class="property_location__first">
									<h4>Rumah</h4>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<div class="clearfix"></div>

		<section class="gray-simple min">
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-8">
						<div class="sec-heading center">
							<h2>Terbaru</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
					</div>
				</div>

				<div class="row">

					<!-- Single Places -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-center mt-3">
						<a href="#" class="btn btn-theme bg-1">Selengkapnya</a>
					</div>
				</div>

			</div>
		</section>
		<div class="clearfix"></div>
		<section>
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-8">
						<div class="sec-heading center">
							<h2>Populer</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
					</div>
				</div>

				<div class="row">

					<!-- Single Property -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Jual</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Ruko Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="list-slide-box">
							<div class="modern-list">
								<div class="grid-category-thumb">
									<a href="#" class="overlay-cate"><img src="assets/img/office/6.jpg"
											class="img-responsive" alt=""></a>
									<div class="property_meta simple">
										<a href="#" class="cate-trix theme-cl">Sewa</a>
									</div>
								</div>
								<div class="modern-list-content">
									<div class="listing-content-wrap smalls text-center">
										<h4 class="lst-title"><a href="#">Rumah Kost Tidar Asri</a>
										</h4>
										<p>Tidar Asri, Jember</p>
										<p class="btn btn-sm rounded-custom py-2 px-2 mt-2">500jt</p>
									</div>
									<div class="listing-footer-wrap property-lists mt-2 d-flex justify-content-center">
										<div class="property-lists d-flex justify-content-center">
											<ul>
												<li><span class="flatcons"><img src="assets/img/color-bed.svg"
															alt=""></span>2 Bed</li>
												<li><span class="flatcons"><img src="assets/img/color-bathroom.svg"
															alt=""></span>2 Bath</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center mt-3">
					<a href="#" class="btn btn-theme bg-1">Selengkapnya</a>
				</div>
			</div>

	</div>
	</section>
	<div class="clearfix"></div>

	<!-- <section class="gray-simple">
			<div class="container">

				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-8">
						<div class="sec-heading center">
							<h2>Testimoni</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-lg-4 col-md-4">
						<div class="testimonial-wraps">
							<div class="testimonial-icon">
								<img src="assets/img/user-3.jpg" class="img-fluid" alt="">
								<h5>Nuzul Zaif MR</h5>
								<span class="tst_post">Front-End Web Developer</span>
							</div>
							<div class="facts-detail">
								<p>HMMMMM</p>
							</div>
							<div class="testi-rate">
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4">
						<div class="testimonial-wraps">
							<div class="testimonial-icon">
								<img src="assets/img/user-2.jpg" class="img-fluid" alt="">
								<h5>Ryan Hartadi</h5>
								<span class="tst_post">Back-End Web Developer</span>
							</div>
							<div class="facts-detail">
								<p>HMMMM</p>
							</div>
							<div class="testi-rate">
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4">
						<div class="testimonial-wraps">
							<div class="testimonial-icon">
								<img src="assets/img/user-5.jpg" class="img-fluid" alt="">
								<h5>Karen Dika</h5>
								<span class="tst_post">UI/UX Designer</span>
							</div>
							<div class="facts-detail">
								<p>HMMMM</p>
							</div>
							<div class="testi-rate">
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section> -->

	<footer class="dark-footer skin-dark-footer style-2">

		<div class="footer-middle">
			<div class="container">
				<div class="row">

					<div class="col-lg-4 col-md-4">
						<div class="footer_widget">
							<div class="footlogo"><img src="assets/img/logo-brand1.png" class="img-fluid mb-3" alt="" />
							</div>
							<p>Alamat<br>
							</p>
						</div>
					</div>

					<div class="col-lg-2 col-md-2">
						<div class="footer_widget">
							<h4 class="widget_title">Halaman</h4>
							<ul class="footer-menu">
								<li><a href="#">Sub Halaman</a></li>
								<li><a href="#">Sub Halaman</a></li>
								<li><a href="#">Sub Halaman</a></li>
								<li><a href="#">Sub Halaman</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-md-2">
						<div class="footer_widget">
							<h4 class="widget_title">Halaman</h4>
							<ul class="footer-menu">
								<li><a href="#">Sub Halaman</a></li>
								<li><a href="#">Sub Halaman</a></li>
								<li><a href="#">Sub Halaman</a></li>
								<li><a href="#">Sub Halaman</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-lg-12 col-md-12">
						<p class="mb-0">© 2020 - Kebut Aplikasi by Pemuda Kreativa</p>
					</div>

				</div>
			</div>
		</div>
	</footer>

	<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="fas fa-angle-up"></i></a>


	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/ion.rangeSlider.min.js"></script>
	<script src="assets/js/select2.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/slick.js"></script>
	<script src="assets/js/slider-bg.js"></script>
	<script src="assets/js/lightbox.js"></script>
	<script src="assets/js/imagesloaded.js"></script>
	<script src="assets/js/daterangepicker.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="https://swiperjs.com/package/swiper-bundle.min.js"></script>
</body>

</html>