.card {
    /* border: 1px solid #e5e8ef; */
    margin-bottom: 30px;
    border-radius: .5rem;
    overflow: hidden;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
}

/* .modern-list .property_meta {
    display: flex;
    margin: 0;
    position: absolute;
    left: 1px;
    bottom: 11rem;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
} */

/* .cate-trix {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 3px;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    background: #140c40;
    color: #fff !important;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
} */

/* @media only screen and (max-width: 768px) {
    .modern-list .property_meta {
        display: flex;
        margin: 0;
        position: absolute;
        left: 1px;
        bottom: 9.8rem;
        align-items: center;
        width: 100%;
        padding: 12px 20px;
    }
} */

/* footer.dark-footer {
    background: #f1f6fc
} */

/* footer.skin-dark-footer .footer_widget ul li a, footer.skin-dark-footer, footer.skin-dark-footer a {
    color: #f9bcb0;
    transition: all ease .4s;
    font-size: 14px;
} */

.fp_types {
    padding: 6px 12px;
    border-radius: 50px;
    background: #ff9b20;
    font-size: 13px;
    color: #fbfbfb;
}

footer.skin-dark-footer h4 {
    color: #ff7f66;
}

.skin-dark-footer .footer-bottom {
    background: #fff;
    border-top: none;
}

/* custom  */
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
@media only screen and (max-width: 768px) {
    .header {
    background: #fff;
    z-index: 4
}

.header.header-transparent.header-fixed {
    box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    -webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    background: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    border: none;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
}
@media only screen and (max-width: 768px) {
.header.header-transparent {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    z-index: 4;
    border-bottom: 1px solid #C5691D;
}
.header.header-fixed {
    box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    -webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
    background: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
    
}